*{
    box-sizing: border-box;
    margin: 0px auto;
    padding: 0px;
    font-family: 'Inter', sans-serif;
}
img{
    width: 100%;
}
.bike__SPECIAL-FEATURE,
.bike__Super,
.bike__Smart,
.feature h3 {
    font-family: 'Inter', sans-serif;
}

.container{
    max-width: 1592px;
    margin-top: 35px;
    margin-bottom: 35px;
}
.products{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
}
.bike{
    width: 49.12065%;
    min-height: 852px;
    background-image: url(img/Mask\ group.png);
    background-size: cover;
    border-radius: 20px;
}
.bike__SPECIAL-FEATURE{
    color: #1E1E1E;
    line-height: 21.3px;
    font-size: 15px;
    font-weight: 500;
    opacity: 40%;
    position: absolute;
    margin: 2.449748743718593% 0px 0px 2.512562814070352%;
}
.bike__Super{
    color: #FFFFFF;
    line-height: 37.2px;
    font-size: 31px;
    font-weight: 500;
    letter-spacing: -3%;
    position: absolute;
    left: 2.701005025125628%;
    bottom: 21.71361502347418%;
}
.bike__Smart{
    color: #FFFFFF;
    font-size: 150px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -7%;
    position: absolute;
    left: 2.324120603015075%;
    bottom: 11.3849765258216%;
}
.bikeinformation{
    width: 49.12065%;
}
.feature{
    width: 100%;
    height: 48.41549295774648%;
    background-color: #F7F7F8;
    border-radius: 20px;
    padding-top: 5.755%;
}
.feature h3{
    color: #1E1E1E;
    text-align: center;
    letter-spacing: -3%;
    line-height: 37.2px;
    font-size: 31px;
    font-weight: 500;
}
.feature__items{
    width: 100%;
    margin-top: 10.87%;
    display: flex;
    justify-content: center;
}
.feature__items--Seatpost{
    padding: 24px 48px 8px 0px;
    margin: 0px;
}
.feature__items--Automatic{
    padding: 24px 48px 8px;
    border-left: 1px solid #0000001C;
    border-right: 1px solid #0000001C;
    margin: 0px;
}
.feature__items--All-new{
    padding: 24px 0px 8px 48px;
    margin: 0px;
}
.collection{
    width: 100%;
    height: 48.41549295774648%;
    margin-top: 27px;
    position: relative;
}
.collection img{
    width: 100%;
    height: 100%;
}
.collection a{
    position: absolute;
    left: calc(50% - 59.9165px);
    margin-top: 25.88028169014085%;
    text-decoration: none;
    color: #FFFFFF;
    opacity: 0;
    transition: opacity 1s ;
}
.collection:hover a{
    opacity: 1;
}
.collection a button{
    padding: 13px 31px;
    border-radius: 56px;
    background-color: #827C6C;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    line-height: 20.24px;
    font-weight: 500;
    cursor: pointer;
}

/* ------------ màn hình ipas------------- */
@media (max-width: 960px) {
    .products{
        display: block;
        position: static;
    }
    .bike{
        width: 100%;
        min-height: 852px;
        background-image: url(img/Mask\ group.png);
        background-size: cover;
        border-radius: 20px;
    }
    .bike__SPECIAL-FEATURE{
        color: #1E1E1E;
        line-height: 21.3px;
        font-size: 15px;
        font-weight: 500;
        opacity: 40%;
        position: absolute;
        margin: 2.449748743718593% 0px 0px 2.512562814070352%;
    }
    .bike__Super{
        color: #FFFFFF;
        line-height: 37.2px;
        font-size: 31px;
        font-weight: 500;
        letter-spacing: -3%;
        position: absolute;
        left: 2.701005025125628%;
        bottom: 21.71361502347418%;
    }
    .bike__Smart{
        color: #FFFFFF;
        font-size: 120px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -7%;
        position: absolute;
        left: 2.324120603015075%;
        bottom: 11.3849765258216%;
    }
    .bikeinformation{
        width: 100%;
    }
    .feature{
        width: 100%;
        height: 48.41549295774648%;
        background-color: #F7F7F8;
        border-radius: 20px;
        padding-top: 5.755%;
    }
    .feature h3{
        color: #1E1E1E;
        text-align: center;
        letter-spacing: -3%;
        line-height: 37.2px;
        font-size: 31px;
        font-weight: 500;
    }
    .feature__items{
        width: 100%;
        margin-top: 10.87%;
        display: flex;
        justify-content: center;
    }
    .feature__items--Seatpost{
        padding: 24px 48px 8px 0px;
        margin: 0px;
    }
    .feature__items--Automatic{
        padding: 24px 48px 8px;
        border-left: 1px solid #0000001C;
        border-right: 1px solid #0000001C;
        margin: 0px;
    }
    .feature__items--All-new{
        padding: 24px 0px 8px 48px;
        margin: 0px;
    }
}